In [1]:
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd

# World Bank

In [22]:
query = """
PREFIX wdt: <http://www.wikidata.org/prop/direct/>
PREFIX wd: <http://www.wikidata.org/entity/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

SELECT DISTINCT ?country ?sameAsCountry ?label ?life_expectancy WHERE {

    ?country a <http://worldbank.org/Country> .
    #?country <http://www.w3.org/2000/01/rdf-schema#label> ?label .
    ?country <http://purl.org/dc/elements/1.1/identifier> ?label .
    OPTIONAL{?country <http://www.w3.org/2002/07/owl#sameAs> ?sameAsCountry .}
}
"""

In [23]:
sparql = SPARQLWrapper("https://labs.tib.eu/sdm/worldbank_endpoint/sparql")
world_bank = []

sparql.setQuery(query)
sparql.setReturnFormat(JSON)
results = sparql.query().convert()


for r in results['results']['bindings']:
    row = {'country': r['country']['value'], 'label': r['label']['value']}
    if 'sameAsCountry' in r:
        row['sameAsCountry']= r['sameAsCountry']['value']
#     print(row, str(r['o']['value']))
    world_bank.append(row)

world_bank = pd.DataFrame.from_dict(world_bank)

# Countries without the property sameAs

In [25]:
country_nan_link = world_bank[world_bank['sameAsCountry'].isna()]
display(country_nan_link.shape, country_nan_link.head())

(50, 3)

                              country label sameAsCountry
859  http://worldbank.org/Country/AFE   AFE           NaN
860  http://worldbank.org/Country/AFW   AFW           NaN
861  http://worldbank.org/Country/ARB   ARB           NaN
862  http://worldbank.org/Country/CEB   CEB           NaN
863  http://worldbank.org/Country/CHI   CHI           NaN

In [5]:
country_nan_link.to_csv('country_without_link_to_Wikipedia.csv', index=None)

In [26]:
world_bank=world_bank.dropna().reset_index(drop=True)
world_bank = world_bank[world_bank['sameAsCountry'].str.contains('http://www.wikidata.org/entity/')]
world_bank

,country,label,sameAsCountry
3,http://worldbank.org/Country/ABW,ABW,http://www.wikidata.org/entity/Q21203
7,http://worldbank.org/Country/AFG,AFG,http://www.wikidata.org/entity/Q889
11,http://worldbank.org/Country/AGO,AGO,http://www.wikidata.org/entity/Q916
15,http://worldbank.org/Country/ALB,ALB,http://www.wikidata.org/entity/Q222
19,http://worldbank.org/Country/AND,AND,http://www.wikidata.org/entity/Q228
...,...,...,...
842,http://worldbank.org/Country/WSM,WSM,http://www.wikidata.org/entity/Q683
846,http://worldbank.org/Country/YEM,YEM,http://www.wikidata.org/entity/Q805
850,http://worldbank.org/Country/ZAF,ZAF,http://www.wikidata.org/entity/Q258
854,http://worldbank.org/Country/ZMB,ZMB,http://www.wikidata.org/entity/Q953
855,http://worldbank.org/Country/ZWE,ZWE,http://www.wikidata.org/entity/Q954

# Countries with more that one link to wikidata

In [6]:
display(len(world_bank.country.unique()), len(world_bank.sameAsCountry.unique()))

215

215

In [7]:
display(world_bank.sameAsCountry.value_counts()[:8])

http://www.wikidata.org/entity/Q21203    1
http://www.wikidata.org/entity/Q1027     1
http://www.wikidata.org/entity/Q833      1
http://www.wikidata.org/entity/Q1030     1
http://www.wikidata.org/entity/Q33788    1
http://www.wikidata.org/entity/Q1032     1
http://www.wikidata.org/entity/Q1033     1
http://www.wikidata.org/entity/Q811      1
Name: sameAsCountry, dtype: int64

In [8]:
world_bank.loc[world_bank.sameAsCountry=='http://www.wikidata.org/entity/Q423']

,country,label,sameAsCountry
630,http://worldbank.org/Country/PRK,PRK,http://www.wikidata.org/entity/Q423

# Contries from WIKI with property 'life_expectancy'

In [19]:
query = """
SELECT DISTINCT ?sameAsCountry ?o
WHERE 
{
  #?sameAsCountry wdt:P31 wd:Q6256 .
  ?sameAsCountry wdt:P298 ?o .
  ?sameAsCountry p:P2250 ?item .
  ?item ps:P2250 ?year_exp .
  OPTIONAL{?item pq:P518 ?gender .}
}
"""
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")
wiki = []

sparql.setQuery(query)
sparql.setReturnFormat(JSON)
results = sparql.query().convert()
row['sameAsCountry']=[]

for r in results['results']['bindings']:
    row = {'sameAsCountry': r['sameAsCountry']['value'], 'label': r['o']['value']}
    wiki.append(row)
    

wiki = pd.DataFrame.from_dict(wiki)
display(wiki.shape, wiki.head(2))

(206, 2)

                        sameAsCountry label
0  http://www.wikidata.org/entity/Q34   SWE
1  http://www.wikidata.org/entity/Q20   NOR

# Load file from a Federate query.

PREFIX wd: <http://www.wikidata.org/entity/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX p: <http://www.wikidata.org/prop/>
PREFIX wikibase: <http://wikiba.se/ontology#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX ps: <http://www.wikidata.org/prop/statement/>
PREFIX pq: <http://www.wikidata.org/prop/qualifier/>


SELECT DISTINCT ?sameAsCountry WHERE {
  SERVICE <https://labs.tib.eu/sdm/worldbank_endpoint/sparql> {
    ?country a <http://worldbank.org/Country> .
		?country <http://www.w3.org/2002/07/owl#sameAs> ?sameAsCountry .
    ?country <http://worldbank.org/hasAnnualIndicatorEntry> ?annualIndicator .
    ?annualIndicator <http://worldbank.org/hasIndicator> <http://worldbank.org/Indicator/SP.DYN.LE00.IN> .
    ?annualIndicator <http://www.w3.org/2002/07/owl#hasValue> ?year_exp_WB .
    ?annualIndicator <http://www.w3.org/2006/time#year> ?date_WB .


  }
  SERVICE <https://query.wikidata.org/sparql> {
    ?sameAsCountry p:P2250 ?item .
    ?item	ps:P2250 ?year_exp .
    ?item	pq:P585 ?date .
    OPTIONAL{?item pq:P518 ?gender .}
		    
      }
	}

In [10]:
country_interlinking = pd.read_csv('interlinking.csv')
display(country_interlinking.shape, country_interlinking.head(2))

(202, 1)

                         sameAsCountry
0  http://www.wikidata.org/entity/Q781
1  http://www.wikidata.org/entity/Q408

In [20]:
df1 = wiki.merge(country_interlinking, how = 'outer', on='sameAsCountry',
                              indicator=True).loc[lambda x : x['_merge']=='left_only'].reset_index()
df1

   index                           sameAsCountry label     _merge
0    152  http://www.wikidata.org/entity/Q219060   PSE  left_only
1    153    http://www.wikidata.org/entity/Q4628   FRO  left_only
2    193     http://www.wikidata.org/entity/Q238   SMR  left_only
3    203     http://www.wikidata.org/entity/Q230   GEO  left_only

In [27]:
world_bank.loc[world_bank.label.isin(list(df1.label))]

,country,label,sameAsCountry
259,http://worldbank.org/Country/FRO,FRO,http://www.wikidata.org/entity/Q4575
275,http://worldbank.org/Country/GEO,GEO,http://www.wikidata.org/entity/Q1428
642,http://worldbank.org/Country/PSE,PSE,http://www.wikidata.org/entity/Q407199
694,http://worldbank.org/Country/SMR,SMR,http://www.wikidata.org/entity/Q238

In [21]:
df2 = wiki.merge(country_interlinking, how = 'outer', on='sameAsCountry',
                              indicator=True).loc[lambda x : x['_merge']=='right_only'].reset_index()
display(df2.shape, df2.head(2))

(0, 4)

Empty DataFrame
Columns: [index, sameAsCountry, label, _merge]
Index: []

In [15]:
len(wiki.sameAsCountry.unique())

167

# Federate Query

In [9]:
sameAsCountry = pd.read_csv('Query-1.csv')
sameAsCountry

,country,sameAsCountry,life_expectancy
0,http://worldbank.org/Country/AGO,http://www.wikidata.org/entity/Q916,61.54700
1,http://worldbank.org/Country/AFG,http://www.wikidata.org/entity/Q889,63.67300
2,http://worldbank.org/Country/ABW,http://www.wikidata.org/entity/Q21203,75.86700
3,http://worldbank.org/Country/ARE,http://www.wikidata.org/entity/Q878,77.25600
4,http://worldbank.org/Country/ALB,http://www.wikidata.org/entity/Q222,78.34500
...,...,...,...
163,http://worldbank.org/Country/KWT,http://www.wikidata.org/entity/Q817,74.69400
164,http://worldbank.org/Country/LTU,http://www.wikidata.org/entity/Q37,74.32195
165,http://worldbank.org/Country/LVA,http://www.wikidata.org/entity/Q211,74.52927
166,http://worldbank.org/Country/MAR,http://www.wikidata.org/entity/Q1028,75.82100
167,http://worldbank.org/Country/LUX,http://www.wikidata.org/entity/Q32,82.29268

In [10]:
display(len(sameAsCountry.country.unique()), len(sameAsCountry.sameAsCountry.unique()))

167

161

# Countries with 'wrong' links to wikidata

In [11]:
df1 = world_bank.merge(sameAsCountry, how = 'outer', on = ['country', 'sameAsCountry'],
                       indicator=True).loc[lambda x :x['_merge']=='left_only'].reset_index()
df1

,index,country,label,sameAsCountry,life_expectancy,_merge
0,4,http://worldbank.org/Country/AND,Andorra,http://www.wikidata.org/entity/Q228,NaN,left_only
1,6,http://worldbank.org/Country/ARG,Argentina,http://www.wikidata.org/entity/Q154574,NaN,left_only
2,8,http://worldbank.org/Country/ASM,American Samoa,http://www.wikidata.org/entity/Q16641,NaN,left_only
3,10,http://worldbank.org/Country/AUS,Australia,http://www.wikidata.org/entity/Q781244,NaN,left_only
4,11,http://worldbank.org/Country/AUT,Austria,http://www.wikidata.org/entity/Q131964,NaN,left_only
5,14,http://worldbank.org/Country/BEL,Belgium,http://www.wikidata.org/entity/Q239,NaN,left_only
6,26,http://worldbank.org/Country/BRA,Brazil,http://www.wikidata.org/entity/Q598435,NaN,left_only
7,33,http://worldbank.org/Country/CHE,Switzerland,http://www.wikidata.org/entity/Q4225,NaN,left_only
8,35,http://worldbank.org/Country/CHN,China,http://www.wikidata.org/entity/Q136211,NaN,left_only
9,40,http://worldbank.org/Country/COL,Colombia,http://www.wikidata.org/entity/Q62823,NaN,left_only
10,49,http://worldbank.org/Country/DEU,Germany,http://www.wikidata.org/entity/Q7318,NaN,left_only
11,52,http://worldbank.org/Country/DNK,Denmark,http://www.wikidata.org/entity/Q115534,NaN,left_only
12,58,http://worldbank.org/Country/ESP,Spain,http://www.wikidata.org/entity/Q42267,NaN,left_only
13,63,http://worldbank.org/Country/FRA,France,http://www.wikidata.org/entity/Q47774,NaN,left_only
14,64,http://worldbank.org/Country/FRO,Faroe Islands,http://www.wikidata.org/entity/Q4575,NaN,left_only
15,67,http://worldbank.org/Country/GBR,United Kingdom,http://www.wikidata.org/entity/Q22,NaN,left_only
16,68,http://worldbank.org/Country/GEO,Georgia,http://www.wikidata.org/entity/Q1428,NaN,left_only
17,70,http://worldbank.org/Country/GIB,Gibraltar,http://www.wikidata.org/entity/Q1410,NaN,left_only
18,77,http://worldbank.org/Country/GRL,Greenland,http://www.wikidata.org/entity/Q919948,NaN,left_only
19,88,http://worldbank.org/Country/IND,India,http://www.wikidata.org/entity/Q129286,NaN,left_only
20,93,http://worldbank.org/Country/ISR,Israel,http://www.wikidata.org/entity/Q155321,NaN,left_only
21,97,http://worldbank.org/Country/JPN,Japan,http://www.wikidata.org/entity/Q184963,NaN,left_only
22,108,http://worldbank.org/Country/LBN,Lebanon,http://www.wikidata.org/entity/Q333711,NaN,left_only
23,110,http://worldbank.org/Country/LBY,Libya,http://www.wikidata.org/entity/Q15,NaN,left_only
24,119,http://worldbank.org/Country/MAF,St. Martin (French part),http://www.wikidata.org/entity/Q25596,NaN,left_only
25,121,http://worldbank.org/Country/MCO,Monaco,http://www.wikidata.org/entity/Q235,NaN,left_only
26,125,http://worldbank.org/Country/MEX,Mexico,http://www.wikidata.org/entity/Q1489,NaN,left_only
27,128,http://worldbank.org/Country/MLI,Mali,http://www.wikidata.org/entity/Q449153,NaN,left_only
28,129,http://worldbank.org/Country/MLT,Malta,http://www.wikidata.org/entity/Q216993,NaN,left_only
29,133,http://worldbank.org/Country/MNP,Northern Mariana Islands,http://www.wikidata.org/entity/Q16644,NaN,left_only
30,140,http://worldbank.org/Country/NCL,New Caledonia,http://www.wikidata.org/entity/Q22,NaN,left_only
31,141,http://worldbank.org/Country/NER,Niger,http://www.wikidata.org/entity/Q136536,NaN,left_only
32,147,http://worldbank.org/Country/NRU,Nauru,http://www.wikidata.org/entity/Q697,NaN,left_only
33,152,http://worldbank.org/Country/PER,Peru,http://www.wikidata.org/entity/Q38874,NaN,left_only
34,156,http://worldbank.org/Country/POL,Poland,http://www.wikidata.org/entity/Q385059,NaN,left_only
35,157,http://worldbank.org/Country/PRI,Puerto Rico,http://www.wikidata.org/entity/Q56839,NaN,left_only
36,159,http://worldbank.org/Country/PRT,Portugal,http://www.wikidata.org/entity/Q75729,NaN,left_only
37,161,http://worldbank.org/Country/PSE,West Bank and Gaza,http://www.wikidata.org/entity/Q371247,NaN,left_only
38,182,http://worldbank.org/Country/SWE,Sweden,http://www.wikidata.org/entity/Q26345,NaN,left_only
39,184,http://worldbank.org/Country/SXM,Sint Maarten (Dutch part),http://www.wikidata.org/entity/Q25596,NaN,left_only
40,187,http://worldbank.org/Country/TCA,Turks and Caicos Islands,http://www.wikidata.org/entity/Q18221,NaN,left_only
41,194,http://worldbank.org/Country/TON,Tonga,http://www.wikidata.org/entity/Q34094,NaN,left_only
42,197,http://worldbank.org/Country/TUR,Türkiye,http://www.wikidata.org/entity/Q1375058,NaN,left_only
43,198,http://worldbank.org/Country/TUV,Tuvalu,http://www.wikidata.org/entity/Q672,NaN,left_only
44,200,http://worldbank.org/Country/UGA,Uganda,http://www.wikidata.org/entity/Q4598,NaN,left_only
45,206,http://worldbank.org/Country/VEN,"Venezuela, RB",http://www.wikidata.org/entity/Q895,NaN,left_only
46,207,http://worldbank.org/Country/VGB,British Virgin Islands,http://www.wikidata.org/entity/Q25305,NaN,left_only
47,213,http://worldbank.org/Country/ZAF,South Africa,http://www.wikidata.org/entity/Q3926,NaN,left_only

In [12]:
len(df1.country.unique())

48

In [14]:
df1[['country', 'label', 'sameAsCountry']].to_csv('Countries_with_wrong_link_to_wikidata.csv', index=None)

In [29]:
set(world_bank.country).difference(set(sameAsCountry.country))

{'http://worldbank.org/Country/AND',
 'http://worldbank.org/Country/ARG',
 'http://worldbank.org/Country/ASM',
 'http://worldbank.org/Country/AUS',
 'http://worldbank.org/Country/AUT',
 'http://worldbank.org/Country/BEL',
 'http://worldbank.org/Country/BRA',
 'http://worldbank.org/Country/CHE',
 'http://worldbank.org/Country/CHN',
 'http://worldbank.org/Country/COL',
 'http://worldbank.org/Country/DEU',
 'http://worldbank.org/Country/DNK',
 'http://worldbank.org/Country/ESP',
 'http://worldbank.org/Country/FRA',
 'http://worldbank.org/Country/FRO',
 'http://worldbank.org/Country/GBR',
 'http://worldbank.org/Country/GEO',
 'http://worldbank.org/Country/GIB',
 'http://worldbank.org/Country/GRL',
 'http://worldbank.org/Country/IND',
 'http://worldbank.org/Country/ISR',
 'http://worldbank.org/Country/JPN',
 'http://worldbank.org/Country/LBN',
 'http://worldbank.org/Country/LBY',
 'http://worldbank.org/Country/MAF',
 'http://worldbank.org/Country/MCO',
 'http://worldbank.org/Country/MEX',
 'http://worldbank.org/Country/MLI',
 'http://worldbank.org/Country/MLT',
 'http://worldbank.org/Country/MNP',
 'http://worldbank.org/Country/NCL',
 'http://worldbank.org/Country/NER',
 'http://worldbank.org/Country/NRU',
 'http://worldbank.org/Country/PER',
 'http://worldbank.org/Country/POL',
 'http://worldbank.org/Country/PRI',
 'http://worldbank.org/Country/PRT',
 'http://worldbank.org/Country/PSE',
 'http://worldbank.org/Country/SWE',
 'http://worldbank.org/Country/SXM',
 'http://worldbank.org/Country/TCA',
 'http://worldbank.org/Country/TON',
 'http://worldbank.org/Country/TUR',
 'http://worldbank.org/Country/TUV',
 'http://worldbank.org/Country/UGA',
 'http://worldbank.org/Country/VEN',
 'http://worldbank.org/Country/VGB',
 'http://worldbank.org/Country/ZAF'}